.mainDiv {
    width: 75%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    /* background-color: purple; */
}

.intro {
    text-align: center;

    /* background-color: #333; */
}

@media(max-width: 768px) {
    .mainDiv {
        width: 95%;
    }
}