.aboutCard {
    display: flex;
    /* background-color: #333; */
}

.imgDiv {
    padding: 20px;
    margin: 10px;
    /* background-color: #f0f0f0;
    border: 1px solid #ccc; */
    text-align: left;
}

.imgDiv img {
    border-radius: 10%;
}

.detailsDiv {

    
    /* background-color: #f0f0f0;
    border: 1px solid #ccc; */
    margin: 10px;
    padding: 20px;
    text-align: left;
    width: 100%;
}

.detailsDiv h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.detailsDiv hr {
    margin-top: 0;
}


.aboutDiv {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: left;
}

.linkWrapper {
    display: flex;
    position: relative;
    padding: 5px;
    /* Adjust the padding to match the border thickness */
    background: linear-gradient(150deg, #ff7e5f, #feb47b);
    border-radius: 8px;
    /* Optional: to round the corners */
    width: 15rem;
}

.resumeLink {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    /* Ensure the text color is visible */
    /* background: linear-gradient(330deg, #4990ff, #010180); */
    border-radius: 6px;
    /* Optional: should be slightly less than the container radius */
    padding: 10px;
    /* Adjust the padding for inner spacing */
    width: 100%;

}

.resumeLink:hover {
    background: linear-gradient(330deg,  #ff7e5f, #feb47b);
    color: white;
}


@media (max-width: 768px) {
    .aboutCard {
        flex-direction: column;
        
    }

    .imgDiv {
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
    }

    .detailsDiv {
        text-align: center;
        justify-content: center;
        align-items: center;

        margin-left: auto;
        margin-right: auto;

        padding-left: 0;
        padding-right: 0;
    }

    .linkWrapper {
        margin-left: auto;
        margin-right: auto;

        padding-left: 0;
        padding-right: 0;

        box-sizing: border-box;
    }

    .resumeLink {
        text-align: center;
        display: flex;
        justify-content: center;
        
    }


}


/* This was test css for a gradient border */
/* .container {
    position: relative;
    padding: 10px 20px;
    background: linear-gradient(150deg, #4990ff, #010180);
    ;
    margin: 5px;
    border-radius: 5px;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: linear-gradient(45deg, purple, orange);
} */