.backgroundGradient {
    background: linear-gradient(0deg, #ff7e5f, #feb47b);
}

.svgContainer {
    display: flex;
    justify-content: center; /* Adjust as needed (center, space-between, etc.) */
    align-items: center;
}


.svgContainer svg {
    

    /* border: 2px solid white; */
}


