/* orange */
/* background: linear-gradient(0deg, #ff7e5f, #feb47b); */

/* blue */
/* background: linear-gradient(135deg, #4990ff, #000eff); */


.navbar {
    display: flex;

    /* This spaces all elements evenly */
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    padding: 0.5em 1em;
    position: relative;

    

}




.navLogo img {
    height: 5rem;
    aspect-ratio: 1;
    border-radius: 10px;
    /* margin: 10px; */
}



.navLinkGroup {
    list-style: none;
    display: flex;
    gap: 1em;
}


.navLink {
    margin: 10px;
    padding: 1rem;
    border: 0px solid white;
    border-radius: 10px;
    background: linear-gradient(150deg, #ff7e5f, #feb47b);
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.navLink:hover {
    background: linear-gradient(330deg,  #ff7e5f, #feb47b);
}


@media(max-width: 768px) {
    .navLinkGroup {
        display: none;
    }

    .navLogo {
        margin-left: auto;
        margin-right: auto;
    }
}