/* orange */
/* background: linear-gradient(0deg, #ff7e5f, #feb47b); */

/* blue */
/* background: linear-gradient(135deg, #4990ff, #000eff); */


.navbar {
    /* background-color: cornflowerblue; */
    display: flex;
    /* background: linear-gradient(135deg, #4990ff, #000eff); */
    width: 100%;
    height: 60px; /* Set desired height */
    display: flex;

    width: 100%; /* Full width of the screen */
  


    align-items: center;
    /* Space links evenly */
    /* justify-content: space-around;  */

    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0)

}

.navLink {
    margin: 10px;
    padding: 10px;
    border: 0px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    /* background-color: #478CFF; */
    
    background: linear-gradient(0deg, #ff7e5f, #feb47b);
}

.navItem {
    /* background-color: blue; */
}