/* components/ScrollingImage.module.css */

.container {
    display: flex;
    overflow: hidden;
    height: 80vh; /* Specify your desired height */
    position: relative;
    width: 200%;
  }
  
  .scrollingImage {
    height: 100%; /* Set the height of the SVG */
    width: auto; /* Ensure the width of the SVG adjusts according to its aspect ratio */
    flex-shrink: 0; /* Prevent the image from shrinking */
    animation: scroll 5s linear infinite; /* Animation duration */
    /* display: block; */
    /* margin-left: -1%; */
    border-radius: 0;
  }
  
  @keyframes scroll {
    0% {
        transform: translateX(-100.5%);
    }
    100% {
        transform: translateX(0); /* Move left by the width of one SVG */
    }
  }
  